nav {
    background-color: #efeecc;
}

.main-content {
    display: flex;
    justify-content: center;
    margin: 10 auto;
    width: 100%;
    height: auto;
    align-items: center;
}

.main_sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 90%;
    margin: 10 auto;
    padding: 1rem;
    background-color: #efeecc;
    border-radius: 2rem;

}

.main_section_content{
    padding: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.main_content_clientesCadastrados {
    background-color: #0aabba;
}

.main_content_clientesCadastrados:hover{
    background-color: #efeecc;
    color: #0aabba;
    border: 1px solid #0aabba;
    transition: 200ms;
}

.main_content_dividasEmAberto  {
    background-color: #0aabba;
}

.main_content_dividasEmAberto:hover{
    background-color: #efeecc;
    color: #0aabba;
    border: 1px solid #0aabba;
    transition: 200ms;
}

.main_content_novoCliente {
    background-color: #0aabba;
    border: none;
}


.main_content_novoCliente:hover{
    background-color: #efeecc;
    color: #0aabba;
    border: 1px solid #0aabba;
    transition: 200ms;
}

.main_content_Clientes {
    background-color: #0aabba;
}

.main_content_Clientes:hover{
    background-color: #efeecc;
    color: #0aabba;
    border: 1px solid #0aabba;
    transition: 200ms;
}



